@import 'reset.scss';

@font-face {
    font-family: GothamRoundedBook;
    src: url('../fonts/GothamRoundedBook.otf');
}
@font-face {
    font-family: GothamRoundedLight;
    src: url('../fonts/GothamRoundedLight.otf');
}
@font-face {
    font-family: SourceSansPro-Light;
    src: url('../fonts/SourceSansPro-Light.otf');
}

button {
    outline: none;
}

// Navigation
nav{
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: white;
    padding: 0 5%;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    align-items:center;
    z-index: 20;
    >ul{
        display: flex;
        li{
            a{
                font-family: GothamRoundedBook;
                text-decoration: none;
                color: #777777;
                text-transform: uppercase;
                margin: 0 .5em;
                &:hover{
                    color: #e32b35;
                }
            }
        }
    }
    button.hamburger{
        display: none;
    }
    .lang{
        height: 40px;
        .holder{
            box-sizing: border-box;
            border-radius: 3px;
            width: 90px;
            a{
                font-family: GothamRoundedBook;
                vertical-align: middle;
                text-decoration: none;
                color: #777777;
            }
            .current{
                padding: 8px 10px;
                box-sizing: border-box;
                .img{
                    margin-left: 5px;
                    width:39px;
                    height: 18px;
                    background-image: url("../images/lang.png");
                    vertical-align: middle;
                    display: inline-block;
                }
            }
            .select{
                a{
                    padding: 8px 10px;
                    display:none;
                }
            }
            &:hover{
                background-color: #e32b35;
                height: 100px;
                a{
                    color: white;
                }
                .select{
                    a{
                        display:block;
                        &:hover{
                            background-color: #b6222a;
                        }
                    }
                }
                .current{
                    .img{
                        background-image: url("../images/lang-hover.png");
                    }
                }
            }
        }
    }
}


header {
    height: 100vh;
    min-height: 500px;
    font-size: 20px;
    background-image: url("../images/header-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 30vh 5% 30vh 5%;
    box-sizing: border-box;
    .content{
        max-width: 800px;
        h1,h2,p{
            color: white;
            font-family: GothamRoundedBook;
            font-size: 1em;
            text-transform: uppercase;
        }
        h1 {
            font-family: GothamRoundedLight;
            font-size: 3.5em;
            padding: 15px 0;
        }
        p {
            letter-spacing: 1px;
            max-width: 580px;
            a{
                color: white;
                text-decoration: none;
                border-bottom: 2px dotted white;
                line-height: 40px;
                &:hover{
                    border:none;
                    color: red;
                }
            }
        }
    }
    .bullets{
        padding: 50px 0 10px 0;
        font-size:0;
        .bullet{
            width: 8px;
            height: 8px;
            border: 1px solid white;
            border-radius: 100%;
            display:inline-block;
            margin-right: 10px;
        }
        .active{
            background-color: #e32b35;
            border-color: #e32b35;
        }
    }
}
// .fixed{
//     position: fixed;
//     height: 100vh;
//     z-index: 0;
//     top: 0;
//     width: 40%;
//     .img{
//         height: 100vh;
//         background-image: url("../images/section1.jpg");
//         background-size: cover;
//         background-position: center;
//     }
// }
main{
    display:flex;
    font-size: 20px;
    justify-content: flex-end;
    aside{
        flex-basis:40%;
        width:40%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        .top{
            background-image: url("../images/section1.jpg");
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
        .bottom{
            background-image: url("../images/section4.jpg");
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
    }
    section{
        flex-basis: 60%;
        .content{
            padding: 160px 20px 160px 120px;
            box-sizing: border-box;
            &:first-of-type{
                h1,h2,h3, li::before{
                    color: #21bfdb;
                }
                a{
                    border-color: rgba(33, 191, 219, 0.2);
                }
            }
            &:nth-of-type(2){
                background-color: #f0f5fa;
                h1,h2,h3, li::before{
                    color: #51a3dc;
                }
                a{
                    border-color: #d0e5f4;
                }
            }
            &:nth-of-type(3){
                h1,h2,h3, li::before{
                    color: #7c8ad3;
                }
                a{
                    border-color: #e5e8f6;
                }
            }
            &:last-of-type{
                background-color: #f0f5fa;
                h1,h2,h3, li::before{
                    color: #a680ce;
                }
                a{
                    border-color: #e1def1;
                }
            }
            h1{
                font-family: GothamRoundedLight;
                font-size: 3.5em;
                text-transform: uppercase;
                padding-top: 20px;
            }
            h2, h3{
                font-family: GothamRoundedBook;
                font-size: 1em;
                text-transform: uppercase;
            }
            p{
                font-family: SourceSansPro-Light;
                font-size: .9em;
                line-height: 1.5em;
                color: #777777;
                padding: 40px 0;
            }
            ul{
                padding-top: 20px;
                max-width: 640px;
                -ms-column-count: 2;
                -o-column-count: 2;
                -moz-column-count: 2;
                -khtml-column-count: 2;
                column-count: 2;
                li{
                    &::before {
                        content: "•"; 
                        color: #21bfdb;
                        display: inline-block; 
                        width: 1em;
                    }
                    a{
                        line-height: 2em;
                        color: #777777;
                        text-decoration: none;
                        border-bottom: 2px solid rgba(33, 191, 219, 0.2);
                        font-family: SourceSansPro-Light;
                    }
                    &:hover{
                        &::before {
                            color: #e32b35;
                        }
                        a{
                            border: none;
                            color: #e32b35;
                        }
                    }
                }
            }
        }
    }
}
body>section.remejai{
    font-size: 20px;
    display:flex;
    justify-content: space-between;
    background-image: url('../images/section5.jpg');
    background-size: cover;
    padding: 100px 10%;
    .item:first-child{
        flex-basis: 30%;
        h3{
            font-family: GothamRoundedBook;
            font-size: 2em;
            color: white;
            text-transform: uppercase;
        }
        p{
            color: white;
            font-size: .9em;
            line-height: 1.5em;
            font-family: SourceSansPro-Light;
            padding: 20px 0;
        }
        a{
            color: white;
            text-decoration: none;
            font-family: GothamRoundedBook;
            font-size: 1em;
            >span{
                border-bottom: 2px solid #8db0d1;
            }
            &:hover{
                color: #e32b35;
                >span{
                    border:none;
                }
            }
        }
    }
    .item:last-child{
        flex-basis: 60%;
        flex-wrap: wrap;
        display:flex;
        flex-direction: column;
        .row{
            display:flex;
            align-items:center;
            justify-content: space-around;
            flex-wrap: wrap;
            &:first-child{
                padding-bottom: 20px;
            }
            a{
               // margin: 0 auto;
            }
            img{
                padding: 0 1em;
                box-sizing: border-box;
            }
        }
    }
}

.mapholder{
    width: 100%;
    height: 600px;
    position: relative;
    #map {
        width: 100%;
        height: 100%;
    }
    .content {
        position: absolute;
        top: 0;
        z-index: 15;
        padding: 150px 0 100px 10%;
        font-size: 20px;
        width: 38%;
        h3{
            font-family: GothamRoundedBook;
            font-size: 2em;
            color: white;
            text-transform: uppercase;
        }
        p{
            color: white;
            font-size: .9em;
            line-height: 1.5em;
            font-family: SourceSansPro-Light;
            padding: 20px 0;
            width: 80%;
        }
        button{
            color: white;
            font-size: .9em;
            background: none;
            border: 2px none;
            padding: 10px;
            span{
                border-bottom: 1px dotted #919da9;
            }
            &:hover{
                border: 2px solid #e32b35;
                border-radius: 5px;
                margin: -2px;
                box-sizing: border-box;
                cursor: pointer;
                span{
                    border: none;
                }
            }
        }
    }
}
footer {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10% 50px 10%;
    background-color: #152536;
    >.item{
        padding: 0 5px;
        box-sizing: border-box;
        ul{
            display:flex;
            li{
                a{
                    text-decoration: none;
                    font-size: .85em;
                    color: white;
                    text-transform: uppercase;
                    margin-right: 1em;
                    font-family: GothamRoundedBook;
                    &:hover{
                        color: #e32b35;
                    }
                }
                &:last-child{
                    a{
                        margin: 0;
                    }
                }
            }
        }
        .container{
            display:flex;
            justify-content: space-between;
            padding-top: 30px;
            box-sizing: border-box;
            align-items: center;
            p{
            font-family: SourceSansPro-Light;
            color: #526477;
            display: inline-block;
            font-size: 1em;
                a{
                    text-decoration: none;
                    color: inherit;
                    border-bottom: 1px solid #526477;
                    &:hover{
                        border: none;
                        color:#e32b35;
                    }
                }
            }
            .item{
                a{
                    width: 76px;
                    height: 21px;
                    background-image: url("../images/cp.png");
                    display: inline-block;
                    vertical-align: bottom;
                    &:hover{
                        background-image: url("../images/cp2.png");
                    }
                }
            }
        }
        button{
            background: none;
            padding: 1.8em;
            font-size: 1.1em;
            text-align: center;
            color: white;
            border: 1px solid #e32b35;
            border-radius: 3px;
            cursor: pointer;
            font-family: GothamRoundedBook;
            &:hover{
                background-color: #e32b35;
            }
        }

    }
}

@media only screen 
and (max-width : 1270px) {
    nav {
        padding: 0 1%;
        font-size: 14px;
    }
    header,section{
        font-size: 16px;
    }
    footer{
        font-size: 14px;
        padding-right: 1%;
        padding-left: 1%;
    }
}

@media only screen 
and (max-width : 1065px) {
    //nav- overflow for body
    .overflow {
        overflow:hidden;
    }
    .navbg{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 18;
    }
    nav{
        ul{
            display:none;
        }
        .responsive{
            display:flex;
            flex-direction: column;
            position: absolute;
            top: 100px;
            left: 10%;
            font-size: 20px;
            li{
                flex-basis: 50px;
            }
        }
        // .lang{
        //    display:none;
        // }
        button.hamburger{
            display: block;
        }
    }


    main{
        aside{
            display:none;
        }
        section{
            flex-basis: 100%;
            div.content{
                padding-left: 50px;
            }
        }
    }
    footer{
        flex-direction: column;
        .item {
            padding: 10px 0;
        }
    }
}

@media only screen 
and (max-width : 765px) {
    header{
        font-size: 14px;
        h1{
            font-size: 2em !important;
        }
    }
    main{
        section{
            font-size: 14px !important;
            h1{
                font-size: 2em !important;
            }
        }
    }
    section.remejai{
        flex-direction: column;
        .item:first-child{
            padding-bottom: 60px;
        }
        .row{
            flex-direction: column;
        }
    }
    .mapholder{
        .content {
            padding: 50px 0 100px 5%;
        }
    }

}

@media only screen 
and (max-width : 450px) {
    nav{
        .lang{
            display:none;
        }
        #interlux{
            display:none;
        }
    }
    main{
        section{
            .content{
                ul{
                    column-count: 1;
                }
            }
        }
    }
    section.remejai{
        font-size: 16px !important;
    }
    section.mapholder{
        p{
            display:none;
        }
    }
    footer{
        .item{
            ul{
                flex-direction: column;
                align-items: center;
                li{
                    padding: 5px 0;
                }
            }
            .container{
                flex-direction: column;
                p{
                    text-align: center;
                }
            }
        }
    }
}