@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: GothamRoundedBook;
  src: url("../fonts/GothamRoundedBook.otf"); }

@font-face {
  font-family: GothamRoundedLight;
  src: url("../fonts/GothamRoundedLight.otf"); }

@font-face {
  font-family: SourceSansPro-Light;
  src: url("../fonts/SourceSansPro-Light.otf"); }

button {
  outline: none; }

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: white;
  padding: 0 5%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20; }
  nav > ul {
    display: flex; }
    nav > ul li a {
      font-family: GothamRoundedBook;
      text-decoration: none;
      color: #777777;
      text-transform: uppercase;
      margin: 0 .5em; }
      nav > ul li a:hover {
        color: #e32b35; }
  nav button.hamburger {
    display: none; }
  nav .lang {
    height: 40px; }
    nav .lang .holder {
      box-sizing: border-box;
      border-radius: 3px;
      width: 90px; }
      nav .lang .holder a {
        font-family: GothamRoundedBook;
        vertical-align: middle;
        text-decoration: none;
        color: #777777; }
      nav .lang .holder .current {
        padding: 8px 10px;
        box-sizing: border-box; }
        nav .lang .holder .current .img {
          margin-left: 5px;
          width: 39px;
          height: 18px;
          background-image: url("../images/lang.png");
          vertical-align: middle;
          display: inline-block; }
      nav .lang .holder .select a {
        padding: 8px 10px;
        display: none; }
      nav .lang .holder:hover {
        background-color: #e32b35;
        height: 100px; }
        nav .lang .holder:hover a {
          color: white; }
        nav .lang .holder:hover .select a {
          display: block; }
          nav .lang .holder:hover .select a:hover {
            background-color: #b6222a; }
        nav .lang .holder:hover .current .img {
          background-image: url("../images/lang-hover.png"); }

header {
  height: 100vh;
  min-height: 500px;
  font-size: 20px;
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 30vh 5% 30vh 5%;
  box-sizing: border-box; }
  header .content {
    max-width: 800px; }
    header .content h1, header .content h2, header .content p {
      color: white;
      font-family: GothamRoundedBook;
      font-size: 1em;
      text-transform: uppercase; }
    header .content h1 {
      font-family: GothamRoundedLight;
      font-size: 3.5em;
      padding: 15px 0; }
    header .content p {
      letter-spacing: 1px;
      max-width: 580px; }
      header .content p a {
        color: white;
        text-decoration: none;
        border-bottom: 2px dotted white;
        line-height: 40px; }
        header .content p a:hover {
          border: none;
          color: red; }
  header .bullets {
    padding: 50px 0 10px 0;
    font-size: 0; }
    header .bullets .bullet {
      width: 8px;
      height: 8px;
      border: 1px solid white;
      border-radius: 100%;
      display: inline-block;
      margin-right: 10px; }
    header .bullets .active {
      background-color: #e32b35;
      border-color: #e32b35; }

main {
  display: flex;
  font-size: 20px;
  justify-content: flex-end; }
  main aside {
    flex-basis: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    main aside .top {
      background-image: url("../images/section1.jpg");
      background-size: cover;
      background-position: center;
      height: 100vh; }
    main aside .bottom {
      background-image: url("../images/section4.jpg");
      background-size: cover;
      background-position: center;
      height: 100vh; }
  main section {
    flex-basis: 60%; }
    main section .content {
      padding: 160px 20px 160px 120px;
      box-sizing: border-box; }
      main section .content:first-of-type h1, main section .content:first-of-type h2, main section .content:first-of-type h3, main section .content:first-of-type li::before {
        color: #21bfdb; }
      main section .content:first-of-type a {
        border-color: rgba(33, 191, 219, 0.2); }
      main section .content:nth-of-type(2) {
        background-color: #f0f5fa; }
        main section .content:nth-of-type(2) h1, main section .content:nth-of-type(2) h2, main section .content:nth-of-type(2) h3, main section .content:nth-of-type(2) li::before {
          color: #51a3dc; }
        main section .content:nth-of-type(2) a {
          border-color: #d0e5f4; }
      main section .content:nth-of-type(3) h1, main section .content:nth-of-type(3) h2, main section .content:nth-of-type(3) h3, main section .content:nth-of-type(3) li::before {
        color: #7c8ad3; }
      main section .content:nth-of-type(3) a {
        border-color: #e5e8f6; }
      main section .content:last-of-type {
        background-color: #f0f5fa; }
        main section .content:last-of-type h1, main section .content:last-of-type h2, main section .content:last-of-type h3, main section .content:last-of-type li::before {
          color: #a680ce; }
        main section .content:last-of-type a {
          border-color: #e1def1; }
      main section .content h1 {
        font-family: GothamRoundedLight;
        font-size: 3.5em;
        text-transform: uppercase;
        padding-top: 20px; }
      main section .content h2, main section .content h3 {
        font-family: GothamRoundedBook;
        font-size: 1em;
        text-transform: uppercase; }
      main section .content p {
        font-family: SourceSansPro-Light;
        font-size: .9em;
        line-height: 1.5em;
        color: #777777;
        padding: 40px 0; }
      main section .content ul {
        padding-top: 20px;
        max-width: 640px;
        -ms-column-count: 2;
        -o-column-count: 2;
        -moz-column-count: 2;
        -khtml-column-count: 2;
        column-count: 2; }
        main section .content ul li::before {
          content: "•";
          color: #21bfdb;
          display: inline-block;
          width: 1em; }
        main section .content ul li a {
          line-height: 2em;
          color: #777777;
          text-decoration: none;
          border-bottom: 2px solid rgba(33, 191, 219, 0.2);
          font-family: SourceSansPro-Light; }
        main section .content ul li:hover::before {
          color: #e32b35; }
        main section .content ul li:hover a {
          border: none;
          color: #e32b35; }

body > section.remejai {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background-image: url("../images/section5.jpg");
  background-size: cover;
  padding: 100px 10%; }
  body > section.remejai .item:first-child {
    flex-basis: 30%; }
    body > section.remejai .item:first-child h3 {
      font-family: GothamRoundedBook;
      font-size: 2em;
      color: white;
      text-transform: uppercase; }
    body > section.remejai .item:first-child p {
      color: white;
      font-size: .9em;
      line-height: 1.5em;
      font-family: SourceSansPro-Light;
      padding: 20px 0; }
    body > section.remejai .item:first-child a {
      color: white;
      text-decoration: none;
      font-family: GothamRoundedBook;
      font-size: 1em; }
      body > section.remejai .item:first-child a > span {
        border-bottom: 2px solid #8db0d1; }
      body > section.remejai .item:first-child a:hover {
        color: #e32b35; }
        body > section.remejai .item:first-child a:hover > span {
          border: none; }
  body > section.remejai .item:last-child {
    flex-basis: 60%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column; }
    body > section.remejai .item:last-child .row {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap; }
      body > section.remejai .item:last-child .row:first-child {
        padding-bottom: 20px; }
      body > section.remejai .item:last-child .row img {
        padding: 0 1em;
        box-sizing: border-box; }

.mapholder {
  width: 100%;
  height: 600px;
  position: relative; }
  .mapholder #map {
    width: 100%;
    height: 100%; }
  .mapholder .content {
    position: absolute;
    top: 0;
    z-index: 15;
    padding: 150px 0 100px 10%;
    font-size: 20px;
    width: 38%; }
    .mapholder .content h3 {
      font-family: GothamRoundedBook;
      font-size: 2em;
      color: white;
      text-transform: uppercase; }
    .mapholder .content p {
      color: white;
      font-size: .9em;
      line-height: 1.5em;
      font-family: SourceSansPro-Light;
      padding: 20px 0;
      width: 80%; }
    .mapholder .content button {
      color: white;
      font-size: .9em;
      background: none;
      border: 2px none;
      padding: 10px; }
      .mapholder .content button span {
        border-bottom: 1px dotted #919da9; }
      .mapholder .content button:hover {
        border: 2px solid #e32b35;
        border-radius: 5px;
        margin: -2px;
        box-sizing: border-box;
        cursor: pointer; }
        .mapholder .content button:hover span {
          border: none; }

footer {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10% 50px 10%;
  background-color: #152536; }
  footer > .item {
    padding: 0 5px;
    box-sizing: border-box; }
    footer > .item ul {
      display: flex; }
      footer > .item ul li a {
        text-decoration: none;
        font-size: .85em;
        color: white;
        text-transform: uppercase;
        margin-right: 1em;
        font-family: GothamRoundedBook; }
        footer > .item ul li a:hover {
          color: #e32b35; }
      footer > .item ul li:last-child a {
        margin: 0; }
    footer > .item .container {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      box-sizing: border-box;
      align-items: center; }
      footer > .item .container p {
        font-family: SourceSansPro-Light;
        color: #526477;
        display: inline-block;
        font-size: 1em; }
        footer > .item .container p a {
          text-decoration: none;
          color: inherit;
          border-bottom: 1px solid #526477; }
          footer > .item .container p a:hover {
            border: none;
            color: #e32b35; }
      footer > .item .container .item a {
        width: 76px;
        height: 21px;
        background-image: url("../images/cp.png");
        display: inline-block;
        vertical-align: bottom; }
        footer > .item .container .item a:hover {
          background-image: url("../images/cp2.png"); }
    footer > .item button {
      background: none;
      padding: 1.8em;
      font-size: 1.1em;
      text-align: center;
      color: white;
      border: 1px solid #e32b35;
      border-radius: 3px;
      cursor: pointer;
      font-family: GothamRoundedBook; }
      footer > .item button:hover {
        background-color: #e32b35; }

@media only screen and (max-width: 1270px) {
  nav {
    padding: 0 1%;
    font-size: 14px; }
  header, section {
    font-size: 16px; }
  footer {
    font-size: 14px;
    padding-right: 1%;
    padding-left: 1%; } }

@media only screen and (max-width: 1065px) {
  .overflow {
    overflow: hidden; }
  .navbg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 18; }
  nav ul {
    display: none; }
  nav .responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 10%;
    font-size: 20px; }
    nav .responsive li {
      flex-basis: 50px; }
  nav button.hamburger {
    display: block; }
  main aside {
    display: none; }
  main section {
    flex-basis: 100%; }
    main section div.content {
      padding-left: 50px; }
  footer {
    flex-direction: column; }
    footer .item {
      padding: 10px 0; } }

@media only screen and (max-width: 765px) {
  header {
    font-size: 14px; }
    header h1 {
      font-size: 2em !important; }
  main section {
    font-size: 14px !important; }
    main section h1 {
      font-size: 2em !important; }
  section.remejai {
    flex-direction: column; }
    section.remejai .item:first-child {
      padding-bottom: 60px; }
    section.remejai .row {
      flex-direction: column; }
  .mapholder .content {
    padding: 50px 0 100px 5%; } }

@media only screen and (max-width: 450px) {
  nav .lang {
    display: none; }
  nav #interlux {
    display: none; }
  main section .content ul {
    column-count: 1; }
  section.remejai {
    font-size: 16px !important; }
  section.mapholder p {
    display: none; }
  footer .item ul {
    flex-direction: column;
    align-items: center; }
    footer .item ul li {
      padding: 5px 0; }
  footer .item .container {
    flex-direction: column; }
    footer .item .container p {
      text-align: center; } }
